@font-face {
    font-family: "Adwaita Sans";
    src: url("../assets/AdwaitaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Adwaita Mono";
    src: url("../assets/AdwaitaMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    
    margin:0;
    padding:0;
    background-image: url("../assets/pitch-black.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

#title{
    font-family: "Adwaita Mono","Adwaita Sans", sans-serif;
    color: lightgrey;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    
}
.headers{
    font-family: "Adwaita Mono", "Adwaita Sans", sans-serif;
    color: lightgrey;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}


#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;

}


#overview{
    font-family:"Adwaita Mono", "Adwaita Sans", sans-serif;
    color: lightgrey;
    text-align: center;
    margin: 20px;
    font-size: 95%;
}

#projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    font-family: "Adwaita Mono", "Adwaita Sans", sans-serif;
    font-size: 95%;
}
.projects{
    
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 0px;
    width: 25%;
    height: 100px;
    text-align: center;
    font-family: "Adwaita Mono", "Adwaita Sans", sans-serif;
    color: lightgrey;
    
    
}
.projects .project-image{
    height: 220px;        
    object-fit: contain; 
}